################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/*.*
/obj/*.*
/bin/Debug/net10.0-windows/BouncyCastle.Cryptography.dll
/bin/Debug/net10.0-windows/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/bin/Debug/net10.0-windows/Microsoft.Extensions.Logging.Abstractions.dll
/bin/Debug/net10.0-windows/OdemControl.deps.json
/bin/Debug/net10.0-windows/OdemControl.dll
/bin/Debug/net10.0-windows/OdemControl.exe
/bin/Debug/net10.0-windows/OdemControl.pdb
/bin/Debug/net10.0-windows/Renci.SshNet.dll
/obj/Debug/net10.0-windows/ref/OdemControl.dll
/obj/Debug/net10.0-windows/apphost.exe
/obj/Debug/net10.0-windows/OdemCont.8E2461F9.Up2Date
/obj/Debug/net10.0-windows/OdemControl.AssemblyInfo.cs
/obj/Debug/net10.0-windows/OdemControl.AssemblyInfoInputs.cache
/obj/Debug/net10.0-windows/OdemControl.assets.cache
/obj/Debug/net10.0-windows/OdemControl.csproj.AssemblyReference.cache
/obj/Debug/net10.0-windows/OdemControl.csproj.CoreCompileInputs.cache
/obj/Debug/net10.0-windows/OdemControl.csproj.FileListAbsolute.txt
/obj/Debug/net10.0-windows/OdemControl.csproj.GenerateResource.cache
/obj/Debug/net10.0-windows/OdemControl.designer.deps.json
/obj/Debug/net10.0-windows/OdemControl.dll
/obj/Debug/net10.0-windows/OdemControl.pdb
/~$OTOCOL.docx
/obj/OdemControl.csproj.nuget.dgspec.json
/obj/OdemControl.csproj.nuget.g.targets
/obj/project.assets.json
/obj/project.nuget.cache
/obj/Debug/net10.0-windows/refint/OdemControl.dll
